.idea
.gradle
build
/models/generic/build/
/models/core/build/
/bootstraps/web/build/
/bootstraps/manage-web/build/
/applications/usecases/build/
/adapters/presenters/build/
/adapters/datasources/build/

/externals/clean-architecture/build/
/externals/ddd/build/
/externals/venus-utils/build/
/externals/ddd/out/
/models/generic/out/
externals/clean-architecture/out
externals/venus-utils/out
models/contracts-mock/out
models/contracts/out
models/core/out
adapters/datasources/out
adapters/presenters/out
applications/usecases/out
bootstraps/manage-web/out
bootstraps/web/out
adapters/datasources/gradlew
adapters/datasources/gradlew.bat
adapters/datasources/gradle/wrapper/gradle-wrapper.jar
adapters/datasources/gradle/wrapper/gradle-wrapper.properties
adapters/presenters/gradlew
adapters/presenters/gradlew.bat
adapters/presenters/gradle/wrapper/gradle-wrapper.jar
adapters/presenters/gradle/wrapper/gradle-wrapper.properties
applications/usecases/gradlew
applications/usecases/gradlew.bat
applications/usecases/gradle/wrapper/gradle-wrapper.jar
applications/usecases/gradle/wrapper/gradle-wrapper.properties
bootstraps/manage-web/gradlew
bootstraps/manage-web/gradlew.bat
bootstraps/manage-web/gradle/wrapper/gradle-wrapper.jar
bootstraps/manage-web/gradle/wrapper/gradle-wrapper.properties
bootstraps/web/gradlew
bootstraps/web/gradlew.bat
bootstraps/web/gradle/wrapper/gradle-wrapper.jar
bootstraps/web/gradle/wrapper/gradle-wrapper.properties
externals/ddd/gradlew
externals/ddd/gradlew.bat
externals/ddd/gradle/wrapper/gradle-wrapper.jar
externals/ddd/gradle/wrapper/gradle-wrapper.properties
externals/venus-utils/gradlew
externals/venus-utils/gradlew.bat
externals/venus-utils/gradle/wrapper/gradle-wrapper.jar
externals/venus-utils/gradle/wrapper/gradle-wrapper.properties
models/contracts/gradlew
models/contracts/gradlew.bat
models/contracts-mock/gradlew
models/contracts-mock/gradlew.bat
models/contracts-mock/gradle/wrapper/gradle-wrapper.jar
models/contracts-mock/gradle/wrapper/gradle-wrapper.properties
models/contracts/gradle/wrapper/gradle-wrapper.jar
models/contracts/gradle/wrapper/gradle-wrapper.properties
models/core/gradlew
models/core/gradlew.bat
models/core/gradle/wrapper/gradle-wrapper.jar
models/core/gradle/wrapper/gradle-wrapper.properties
models/generic/gradlew
models/generic/gradlew.bat
models/generic/gradle/wrapper/gradle-wrapper.jar
models/generic/gradle/wrapper/gradle-wrapper.properties
adapters/datasources/work
