.idea
.gradle
build
/models/generic/build/
/models/core/build/
/bootstraps/web/build/
/bootstraps/manage-web/build/
/applications/usecases/build/
/adapters/presenters/build/
/adapters/datasources/build/

/externals/clean-architecture/build/
/externals/ddd/build/
/externals/venus-utils/build/
/externals/ddd/out/
/models/generic/out/
