<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.venuspj.studio.adapter.datasource.studio.StudioMapper">
    <resultMap id="Studio" type="org.venuspj.studio.core.model.studio.Studio">

    </resultMap>
    <select id="findAll" resultMap="Studio">
        select 1 "aaaa";
    </select>
</mapper>